[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
requests = "*"
scout-apm = "*"
pylint = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
